:root {
    --background-color-primary: #fff;
    --font-family-content: 'Inter', sans-serif;
    --font-family-title: 'Poppins', sans-serif;
    --box-shadow-hover-primary: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    --box-shadow-border-primary: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Resets 1rem from 16px to 10px */
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: var(--font-family-content);
    background-color: var(--background-color-primary);
}

.global-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.8rem;
    height: 78px;
    background-color: var(--background-color-primary);
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.global-header h1 {
    font-family: var(--font-family-title);
    font-size: 1.6rem;
    font-weight: 400;
}

.global-header div {
    font-size: 1.6rem;
}

.language-switcher {
    display: flex;
    align-items: center;
    position: relative;
    gap: 4px;
    cursor: pointer;
    height: 100%;
}

.language-switcher:hover .language-switcher-content {
   display: block;
}

.language-switcher-content {
    display: none;
    padding: 1.2rem 2.4rem;
    background-color: var(--background-color-primary);
    position: absolute;
    top: 58px;
    left: -24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.list-wrapper {
    overflow-x: hidden;
}

.card-container {
    display: inline-flex;
    column-gap: 2.4rem;
    margin: 3.6rem;
    user-select: none;
    touch-action: none;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    background-color: var(--background-color-primary);

    min-width: 28rem;
    height: 40rem;

    font-size: 2rem;
    transition: all 0.1s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
}

.card:hover,
.card:active {
    user-select: none;
    box-shadow: var(--box-shadow-hover-primary);
    transform: scale(1.05);
}

.category-title {
    font-family: var(--font-family-title);
    font-size: 2.4rem;
    font-weight: 400;
    margin: 2.8rem 3.8rem 0;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

/* Helpers */
.mt-2xl {
    margin-top: 6.4rem;
}

.spacer {
    height: 9.6rem;
}